<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand d-flex align-items-center" href="/">
      <img src="{{ url_for('static',filename='images/avatar.png') }}" alt="Logo" class="rounded-circle me-2" width="40">
      <strong>Mã Hóa App</strong>
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/"><i class="bi bi-house-door"></i> Trang chủ</a>
        </li>
        {% if current_user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link text-info d-flex align-items-center" href="{{ url_for('home') }}">
            <img src="{{ url_for('static',filename='images/avatar.png') }}" class="rounded-circle border border-light me-2" width="30">
            {{ current_user.username }}
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-success" href="{{ url_for('logout') }}">Đăng xuất</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link text-info" href="{{ url_for('register') }}">Đăng ký</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-success" href="{{ url_for('login') }}">Đăng nhập</a>
        </li>
        {% endif %}
      </ul>
      <form class="d-flex" method="GET" action="/search">
        <input class="form-control me-2" type="text" name="keyword" placeholder="Nhập từ khóa..." aria-label="Search">
        <button class="btn btn-success" type="submit">Tìm kiếm</button>
      </form>
    </div>
  </div>
</nav>
